body {
    @apply font-sans bg-blackDark text-greyDark font-light;
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
}
h1,
h2,
h3 {
    @apply font-heading text-greyLight font-medium;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
p {
    @apply mb-12;
}
a {
    @apply text-yellow;
    &:hover {
        text-decoration: underline;
    }
}
b{
    @apply text-greyLight;
}
.xp-page-title{
    // font-size: 1.5rem;
    @apply text-base lg:text-lg xl:text-2xl;
    font-weight: 600;
    &::after{
        content: "";
        border-width: 0 0 5px 0;
        width: 0.8rem;
        height: 0.3rem;
        display: block;
        @apply border-yellow;
    }
}
.xp-container {
    @apply px-6 py-4 lg:px-12;
}
.xp-content {
    @apply py-12;
}
.xp-legend{
    font-size: 1.1rem;
}
.xp-blog-content {
    font-size: 1.1rem;
    p {
        clear: both;
        &.xp-blog-intro {
            font-size: 1.25rem;
        }
        &.xp-blog-quote {
            font-style: italic;
            span.qauthour {
                display: block;
                text-align: right;
                font-style: normal;
            }
        }
    }
    h1, p, div.xp-tag-list {
        max-width:  720px;
        margin-left: auto;
        margin-right: auto;
    }
}
.xp-blog-image {
    position: relative;
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    img {
        border-radius: 1rem;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
        object-fit: contain;
        height: auto;
        // width: 100%;
        max-height: 650px;
    }
}
.xp-blog-half-image {
    position: relative;
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    img {
        border-radius: 1rem;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
        object-fit: contain;
        height: auto;
        // width: 100%;
        max-height: 500px;
    }
}
.xp-blog-media {
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    @apply xm:mx-0 xm:h-3vh sm:mx-4 lg:mx-16 lg:h-6vh xl:mx-40;
    iframe{
        border-radius: 1rem !important;
        width: 100% !important;
        height: 100% !important;
    }
}
.xp-legend-image {
    img {
        border-radius: 1rem;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
        object-fit: cover;
        height: auto;
        width: 100%;
        max-height: 600px;
    }
}
img.xp-list-image {
    border-radius: 1rem;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}
.xp-border {
    border-color: rgba(210, 218, 226, 0.12);
}
.xp-icon {
    height: 32px;
    width: 32px;
    @apply text-white;
}
.xp-tag-list {
    @apply mt-8;
}
.xp-tag {
    @apply text-green border border-green text-sm inline-flex py-1 px-2 mr-2;
    border-radius: 0.5rem;
    text-transform: uppercase;
}
button {
    @apply border-none;
}

// Header
.xp-logo-icon {
    @apply lg:w-52 xm:w-32 md:w-40;
}
